<section id="footer">
    <div class="container">
        <div class="col-md-7 col-sm-7 col-xs-12">
            <p class="copyright"><span>&copy;</span> Copyright: 2016. Design and Developed by LVN</a>
            </p>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <ul class="social">
                <li>
                    <a href="#" class="Facebook">
                        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="3" class="Twitter">
                        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="Linkedin">
                        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="Google Plus">
                        <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
