<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- header Nav Start -->
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">
                    supermarket
                </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                 <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
                                    <a ui-sref="{{item.state}}">{{item.title}}</a>
                                </li>
                                <li><a href="work.html">Work</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li ng-show="$ctrl.isAdmin()" ui-sref-active="active" class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle">Admin<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a ui-sref="manageuser">Manage User</a></li>
                                        <li><a ui-sref="managecategory">Manage Category</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
                                <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
                                <li ng-show="$ctrl.isLoggedIn()">
                                    <p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p>
                                </li>
                                <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
                                <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
