<div class="container">
  <h1>Manage Category<h1>
     <div class="row">
    <div class="col-sm-12">
      <h2>Add new category</h2>
    </div>
    <div class="col-sm-12">
      <form class="category-form">
        <p class="input-group">
            <input type="text" class="form-control" placeholder="Add a new category here." ng-model="manageCategory.newCategory">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="manageCategory.addCategory()">Add New</button>
            </span>
        </p>
      </form>
    </div>
  </div>
  <hr>
  <div>   
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="category in manageCategory.categories">
	    <div class="user-info">
	        {{category.name}}
	    </div>
        <a ng-click="manageCategory.deleteCategory(category)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
  </div>
</div>
